<ion-list>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input
      [clearInput]="true"
      type="text"
      [(ngModel)]="event.name"
    ></ion-input>
  </ion-item>

  <ion-item class="switch-container">
    <ion-label position="fixed">All-day</ion-label>
    <label class="switch" slot="end">
      <input type="checkbox" [(ngModel)]="allDay" (change)="onAllDayChange()" />
      <span class="slider round"></span>
    </label>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Date</ion-label>
    <input
      slot="end"
      type="date"
      [(ngModel)]="startDateString"
      (change)="onDateChange()"
    />
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Start-time</ion-label>
    <input
      slot="end"
      [disabled]="allDay"
      type="time"
      [(ngModel)]="startTimeString"
      (change)="onDateChange()"
    />
  </ion-item>

  <ion-item>
    <ion-label position="fixed">End-time</ion-label>
    <input
      slot="end"
      [disabled]="allDay"
      type="time"
      [(ngModel)]="endTimeString"
      (change)="onDateChange()"
    />
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Event-color</ion-label>
    <input slot="end" type="color" [(ngModel)]="event.color" />
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Notification</ion-label>
    <label class="switch" slot="end">
      <input
        type="checkbox"
        [(ngModel)]="event.notification"
        (change)="onNotificationChange()"
      />
      <span class="slider round"></span>
    </label>
  </ion-item>
</ion-list>
