<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Who am I?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="/assets/imgs/noimg.png" alt="Image of me" />
      </ion-col>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          libero obcaecati voluptatibus iusto nisi fugiat magnam ab. Molestiae
          veniam atque nulla explicabo, voluptatum ducimus porro fugit soluta
          vitae, excepturi alias.
        </p>
      </ion-col>
    </ion-row>
    <h2>My story</h2>
    <p *ngFor="let section of sections">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quisquam
      voluptas libero itaque delectus doloribus fuga modi dignissimos veniam
      temporibus ratione dicta ipsum omnis, excepturi a nisi error. Cumque,
      atque?
    </p>
  </ion-grid>
</ion-content>
