<ion-header>
  <ion-toolbar>
    <ion-title>Ma bibliothéque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Création d'un nouveau film</h2>
  <ion-button routerLink="/tabs/films/new">Création</ion-button>
  <h2>Liste des films</h2>

  <ion-list>
    <ion-item
      *ngFor="let film of films"
      [routerLink]="['/tabs/films/', film.id]"
    >
      <img [src]="film.pictureLink" width="20" />
      <ion-text style="margin-left: 10px">{{ film.title }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
