<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/films"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau Film</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Affiche</ion-label>
    <ion-input type="text" [(ngModel)]="film.pictureLink"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input type="text" [(ngModel)]="film.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Pays</ion-label>
    <ion-input type="text" [(ngModel)]="film.country"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input type="text" [(ngModel)]="film.releaseDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Réalisateur</ion-label>
    <ion-input type="text" [(ngModel)]="film.realisator"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Producteur</ion-label>
    <ion-input type="text" [(ngModel)]="film.productor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Musique</ion-label>
    <ion-input type="text" [(ngModel)]="film.music"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Scénario</ion-label>
    <ion-input type="text" [(ngModel)]="film.scenario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Durée</ion-label>
    <ion-input type="text" [(ngModel)]="film.time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Au cinéma ?</ion-label>
    <ion-toggle [(ngModel)]="film.onAir"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Synopsis</ion-label>
    <ion-textarea rows="3" [(ngModel)]="film.synopsis"></ion-textarea>
  </ion-item>
  <div style="display: grid; justify-content: center">
    <ion-button (click)="add()">Envoyer</ion-button>
  </div>
</ion-content>
