@import "src/styles/vars.scss";

.day-date {
  font-size: 1.2rem;
  text-align: left;
  color: $text-color;
  text-decoration: underline;
  padding: 1rem 0 0.5rem;
}

.today {
  color: $highlight-color;
}

.event {
  margin-left: 1rem;
  border-left: 4px solid var(--bg-color);
}

.no-events {
  margin-left: 1rem;
}
